[Desktop Entry]
Name=Catsh
Comment=A cross-platform shell.
GenericName=Shell
Exec=catsh
Type=Application
Categories=Utility;System;
Terminal=true
Keywords=catsh;shell;
